<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @server_category.name %>
</p>


<%= link_to 'Edit', edit_server_category_path(@server_category) %> |
<%= link_to 'Back', server_categories_path %>
