<% unless carrinho.linha_items.empty? %>
  <div class="carrinho_nome" >Seu Carrinho</div>
  <table>
<%= render(carrinho.linha_items) %>
  <tr class="total_linha" >
  <td colspan="2" >Total</td>
  <td class="total_celula" ><%= number_to_currency(carrinho.total_valor) %></td>
  </tr>
  </table>
<%= button_to "Checkout", new_pedido_url, :method=>:get %>
<%= button_to 'Limpar Carrinho', carrinho, :method => :delete,
  :confirm => 'Are you sure?' %>
<%end%>
